* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;

}
@media (min-width:415px){
    .contenido{
        display: none;
    }

    .oculto{
        display: flex;
    }
    
    .aviso{
        margin: 100px;
        text-align: center;
    }
}

@media (max-width:414px){
    
.encabezado{
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #61dd65;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

#imgCajaEncabezado{
    width: 45px;
}
.nueva_cotizacion{
    position: fixed;
    bottom: 85px;
    right: 20px;
}


/* -------------------Tabla --------------------------- */

.main{
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedorTablas{
    width: 90%;
}

.tablaProducto {
    border-collapse: collapse; /* Combina los bordes de las celdas */
    width: 100%;
    margin: 20px 0px;
}

.tablaProducto th,
.tablaProducto td {
    border: 1px solid #ccc;
    padding: 8px; /* Espacio interno para el contenido de las celdas */
    text-align: left; /* Alinea el texto a la izquierda */
}

.tablaProducto th {
    background-color: #ebffe3; /* Agrega un fondo de color a las celdas del encabezado */
    text-align: center;
}

.tablaProducto tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Color de fondo para las filas impares */
}

.thValor{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
    height: 18px;
}

.imgPuntos{
    position: absolute;
    justify-self: end;
    cursor: pointer;
    margin-right: -5px;
}


.menuOpciones {
    /* display: none; */
    position: absolute;
    background-color: #ecfae7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    right: 25px;
    margin-top: 105px;
    cursor: pointer;
  }
  
  .menuOpciones p {
    cursor: pointer;
    text-align: start;
    font-size: 15px;
    margin-bottom: 10px;
  }


/* footer */

.footer{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: #f3f3f3;
}

.oculto{
    display: none;
}

}

