* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;

}
@media (min-width:415px){
    .contenido{
        display: none;
    }

    .oculto{
        display: flex;
    }
    
    .aviso{
        margin: 100px;
        text-align: center;
    }
}

@media (max-width:414px){
    
.encabezado{
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #61dd65;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#imgCajaEncabezado{
    width: 45px;
}
.nueva_cotizacion{
    position: fixed;
    bottom: 85px;
    right: 20px;
}

.cotizaciones{
    padding-top: 70px;
    padding-bottom: 70px;
}



/* footer */

.footer{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: #f3f3f3;
}

.oculto{
    display: none;
}

}

