* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;

}

@media (max-width:412px){

.contenido{
    /* justify-content: space-between; */
}    
/* header */
body{
    /* max-width: 412px;
    max-height: 915px; */
  }
.encabezado{
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    background-color: #61dd65;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

/* Main */

.main{
    padding-top: 65px;
    padding-bottom: 65px;
}

form {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.asterisco{
    color: #ff0000;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}


input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Quitar estilo por defecto en otros navegadores */
    -webkit-appearance: none; /* Quitar estilo por defecto en iOS */
}

input[type="tercero"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.pObservaciones{
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}


.imgBuscarTercero{
    position: absolute;
    padding-left: 7px;
}

select option {
    background-color: #f7fdf8;
    color: #333;
    /* height: 200px; */
}

.añadirProductos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.button {
    background-color: #61DD65;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    text-align: center;
  }

/* Teceros */

.nueva_cotizacion{
    position: fixed;
    bottom: 85px;
    right: 20px;
}

.contenedorCotizacines{
    padding-top: 65px;
}

.seleccionTercero{
    padding: 15px;
    display: grid;
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 1fr 1fr;
    border-bottom: solid #61DD65 1px;
}

.imageAvatar{
    grid-column: 1/2;
    grid-row: 1/3;
}

.imageCheck{
    grid-column: 3/4;
    grid-row: 1/3;
    padding-top: 9px;
}

.pNit{
    color: #b1b1b1;
}

/*.inputTerceros{
    border: 0;
    padding-top: 5px;
    align-items: center;


}*/

input[type="inputTerceros"] {
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #61DD65;
}

/* footer */

.footer{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 65px;
    bottom: 0px;
    background-color: #f3f3f3;
    /* padding-right: 20px; */
}

.oculto{
    display: none;
}

}

