* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;

}

@media (min-width:415px){
    body{
        display: none;
        
    }
}

@media (max-width:414px){

.contenido{
    /* justify-content: space-between; */
}    
/* header */
body{
    /* max-width: 412px;
    max-height: 915px; */
  }
.encabezado{
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    background-color: #61dd65;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

/* -------------------------------------    Form   -------------------------------------- */

.main{
    padding-top: 65px;
    padding-bottom: 65px;
}

form {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.asterisco{
    color: #ff0000;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}


input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Quitar estilo por defecto en otros navegadores */
    -webkit-appearance: none; /* Quitar estilo por defecto en iOS */
}

input[type="tercero"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.pObservaciones{
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}


.imgBuscarTercero{
    position: absolute;
    padding-left: 7px;
}

select option {
    background-color: #f7fdf8;
    color: #333;
    /* height: 200px; */
}

.añadirProductos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.button {
    background-color: #61DD65;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    text-align: center;
}

.buttonAñadir{
    margin-top: 20px;
    margin-bottom: 70px;
}

/* -------------------------------------    Terceros   -------------------------------------- */

.nueva_cotizacion{
    position: fixed;
    bottom: 85px;
    right: 20px;
}

.contenedor{
    padding-top: 65px;
}

.seleccion{
    padding: 15px;
    display: grid;
    grid-template-columns: 25% 60% 10%;
    grid-template-rows: 1fr 1fr;
    border-bottom: solid #61DD65 1px;
    justify-content: center;
    align-items: center;
}

.imageAvatar{
    grid-column: 1/2;
    grid-row: 1/3;
}

.imageCheck{
    grid-column: 3/4;
    grid-row: 1/3;
    padding-top: 9px;
}

.imageCar{
    grid-column: 3/4;
    grid-row: 1/3;
    padding-top: 9px;
}

.pNit{
    color: #b1b1b1;
}

input[type="inputTerceros"] {
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #8add8c;
    border-radius: 10px;
}

input:focus {
    outline: none; /* Quitamos el borde por defecto que aparece en algunos navegadores */
    border: 0px solid #8add8c; 
    box-shadow: 0 0 5px #8add8c; 
}


/* -------------------------------------    Productos   -------------------------------------- */

.encabezadoNombreProductos{
    justify-content: center
}

.encabezadoNombreProductos img{
    position: absolute;
    left: 20px;
}

.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.productos_nombre{
    margin: 10px;
}

.observacionesProducto{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.observacionesProducto p{
    margin-bottom: 20px;
    font-size: 20px;
}

.observacionesProducto textarea{
    background-color: #f2fdf2e0;
    padding: 10px;
    border: 1px solid #8add8c;
    border-radius: 10px;
    font-size: 15px;
}

#textareaObservacionesProducto:focus {
    border-radius: 10px;
    border: 1px solid #61dd65;
    box-shadow: 0 0 5px #5fd67d;
    

}

.slider{
    width: 300px;
    /* height: 450px; */
    /* position: relative; */
    /* display: flex; */
    /* overflow: scroll; */
    /* scroll-snap-type: x mandatory; */
}

.slider img{
    /* width: 100%; */
    /* left: 0; */
    /* position: sticky; */
    /* object-fit: cover; */
    border-radius: 5px;
    /* scroll-snap-align: center; */
}

.sliderBoton{
    margin-top: -30px;
}

.sliderBoton ul{
    display: flex;
}

input[type="inputProductos"] {
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #8add8c;
    border-radius: 10px;
}

/*////////////////////////   Botones de prev y next  ////////////////////////*/

/* .slider_previus{
    background-color: #61DD65;
    border-radius: 50%;
} */

/* .slider div{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: #61DD65;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_previus{
    position: relative;
    top: -200px;
    left: -15px;
} */

.adelante{
    position: relative;
    top: -165px;
    left: 285px;
}

.atras{
    position: relative;
    top: -165px;
    left: -50px;
}

/* ---------------------- */

.boton{
    width: 10px;
    height: 10px;
    border: 2px solid #61DD65;
    border-radius: 100%;
    margin: 2px;
}

.botonRelleno{
    background-color: #61DD65;
}

.colorProducto{
    width: 200px;
    font-weight: bold;
}

/* ----------------------- Precio -------------------*/

/* .details__prices {
    width: 300px;
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
    align-items: end;
} */

.precios{
    display: flex;
    justify-content: space-around;
}

.precioConDescuento{
    font-size: 1.7em;
    font-weight: 700;
    text-align: center;
}

.descuento {
    font-size: 15px;
    background-color: #c8ffc8;
    color: #61DD65;
    align-items: end;
}

.precioNeto {
    font-weight: 700;
    color: #bbbbbb;
    text-decoration: line-through;
}

.cantidad{
    margin: 20px 0px;
    width: 150px;
    display: flex;
    align-items: center ;
    justify-content: space-between;

}

input[type="precio"] {
    width: 50%;
    padding: 5px;
    /* margin-bottom: 15px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.mas_menos{
    width: 20px;
    height: 20px;
    border: solid 1px #61DD65;
    border-radius: 100%;
}

/* -------------------------------------    Valor a pagar   ----------------------------------- */


.valores{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px
}

.valores p{
    font-size: 16px; 
    color: #bbbbbb;
    border-bottom: 1px solid #61DD65;
    padding-bottom: 5px; 
}

.valores .totalAPagar{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

/* -------------------Tabla --------------------------- */

#tablaProducto {
    border-collapse: collapse; /* Combina los bordes de las celdas */
    width: 100%;
    margin: 20px 0px;
}

#tablaProducto th,
#tablaProducto td {
    border: 1px solid #ccc; /* Agrega bordes a las celdas */
    padding: 8px; /* Espacio interno para el contenido de las celdas */
    text-align: left; /* Alinea el texto a la izquierda */
}

#tablaProducto th {
    background-color: #ebffe3; /* Agrega un fondo de color a las celdas del encabezado */
    text-align: center;
}

#tablaProducto tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Color de fondo para las filas impares */
}

/* -------------------------------------      footer     -------------------------------------- */

.footer{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 65px;
    bottom: 0px;
    background-color: #f3f3f3;
    /* padding-right: 20px; */
}

.oculto{
    display: none;
}

}

